<nav class="navbar navbar-expand-lg navbar-dark bg-white static-top">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img width="100" alt="Angular Logo" src="/assets/logo.jpg"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-cielo" [routerLink]="['/home']">
            Voltar
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="title">Nome máquininha</label>
          <input
            type="email"
            class="form-control"
            id="title"
            placeholder="Cielo máquina C-3PO"
            [(ngModel)]="dataForm.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Descrição</label>
          <textarea
            type="text"
            class="form-control noresize"
            id="description"
            placeholder="Descrição"
            [(ngModel)]="dataForm.description"
            name="description"
            rows="5"
          ></textarea>
        </div>

        <div class="form-group mb-5">
          <label for="price">Preço</label>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="Preço"
            [(ngModel)]="dataForm.price"
            name="price"
            [brmasker]="{
              money: true,
              thousand: '.',
              decimalCaracter: ',',
              decimal: '2'
            }"
          />
        </div>

        <button
          type="button"
          class="btn btn-cielo float-right"
          (click)="update(dataForm)"
        >
          Atualizar sugestão
        </button>
      </form>
    </div>
  </div>
</div>
